{% extends '::base.html.twig' %}
{% block _body %}  <h2>Especialidades</h2> {% endblock %}
{% block body %}

    <h2>Ver</h2>
    <br>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre | title }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('especialidades') }}">
                Regresar a la lista
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('especialidades_edit', { 'id': entity.id }) }}">
                    Editar
                </a>
            </li>
        {% endif %}
       <!--<li><li>{{ form(delete_form) }}</li></li>-->
    </ul>
{% endblock %}
